/*************************************************
                Sidebar Styles
*************************************************/

.left_col {
    background-color: #041E42;
}

.site_title i {
    border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%; }

.sidebar-footer {
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    position: fixed;
    width: 230px;
    background: #ffc72c; }

.sidebar-footer a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: #041E42;
    color: #b5b5b5;}

.sidebar-footer a:hover {
    background: #2e3b47;
    color: #FFF;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
}

/*************************************************
                NavBar Styles
*************************************************/

.nav_bars i{
    color: #ffc72c;
}

.nav_bars i:hover{
    color: #ffc72c;
    font-size: 28px;
    transition: all linear .1s;
    -webkit-transition: all linear .1s;
}

/*************************************************
                Mobile Nav Styles
*************************************************/

.nav-sm .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 70px;
    padding: 0;
    z-index: 9999;
    position: absolute; }

.nav-sm .container.body .col-md-3.left_col.menu_fixed {
    position: fixed;
    height: 100%; }

.nav-sm .container.body .col-md-3.left_col .mCSB_container,
.nav-sm .container.body .col-md-3.left_col .mCustomScrollBox {
    overflow: visible; }

.nav-sm .hidden-small {
    visibility: hidden; }

.nav-sm .container.body .right_col {
    padding: 10px 20px;
    margin-left: 70px;
    z-index: 2; }

.nav-sm .navbar.nav_title {
    width: 70px; }

.nav-sm .navbar.nav_title a span {
    display: none; }

.nav-sm .navbar.nav_title a i {
    font-size: 27px;
    margin: 13px 0 0 3px; }


.nav-sm .main_container .top_nav {
    display: block;
    margin-left: 70px;
    z-index: 2; }

.nav-sm .nav.side-menu li a {
    text-align: center !important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px; }

.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #1ABB9C; }

.nav-sm ul.nav.child_menu ul,
.nav-sm .nav.side-menu li.active-sm ul ul {
    position: static;
    width: 200px;
    background: none; }

.nav-sm > .nav.side-menu > li.active-sm > a {
    color: #1ABB9C !important; }

.nav-sm .nav.side-menu li a i.toggle-up {
    display: none !important; }

.nav-sm .nav.side-menu li a i {
    font-size: 25px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px; }

.nav-sm ul.nav.child_menu {
    left: 100%;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 4000;
    background: #3E5367;
    display: none; }

.nav-sm ul.nav.child_menu li {
    padding: 0 10px; }

.nav-sm ul.nav.child_menu li a {
    text-align: left !important; }

.nav-sm .profile {
    display: none; }


/*Badge style*/
.label-warning{
    color: #041e42;
    background-color: #ffc72c;
}

/*************************************************
                Footer Styles
*************************************************/



footer {
    background: #00162e;
    padding: 15px 20px;
    display: block; }

footer div.text-center {
    color: white;
}