#notificationContainer{
    padding:20px 15px 0px 15px;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    background-color: #041e42; /*was f8d05c but that was not the same yellow as rest of site*/
    display: block;
    transition: max-height 0.5s ease-out .5s, width .5s;
    -webkit-transition: max-height 0.5s ease-out .5s, width .5s;
    -moz-transition: max-height 0.5s ease-out .5s, width .5s ;
    border-radius: 3px;
    width: 100%;
    max-height: 500px;
    overflow:hidden;
    z-index: 30;
}

#notificationContainer .row{
    padding-top: 5px;
    transition: opacity .5s linear .5s;
    border-bottom: solid 3px  #FFFFFF;
    display: none;
    z-index: 30;
}

.shrinkContainer{
    width: 90px !important;
    max-height: 40px !important;
    z-index: 30;
}

.toggleShowButton{
    width: 90px;
    height: 40px;
    background-color: #041e42;
    color: #FFFFFF;
    position:relative;
    top:-20px;
    left:-15px;
    padding:10px 0px 0px 0px;
    border-radius: 3px;
    text-align: center;
    transition: all .3s linear;
    z-index: 30;
}

.toggleShowButton:hover{
    background-color: #041e42;
    color: #ffc72c;
    cursor: pointer;
    z-index: 30;
}

.activeToggle{
    width: 90px;
    height: 40px;
    background-color: #041e42;
    color: #FFFFFF;
    position:relative;
    top:-20px;
    left:-15px;
    padding:10px 0px 0px 0px;
    border-radius: 3px;
    text-align: center;
    transition: all .3s linear;
    z-index: 30;
}

.activeToggle:hover{
    background-color: #041e42;
    color: #ffc72c;
    cursor: pointer;
    z-index: 30;
}

.toggleShowButton p{
    margin:0px !important;
    z-index: 30;
}

.badge-warning {
    background-color: #ffc72c;
    color: #041e42;
    z-index: 30;
}